* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*App*/
.App {
	background-color: #ece5dd;
	max-height: 100%;
	padding: 20px;
}

.login_title {
	display: flex;
	align-items: center;
	justify-self: center;
	margin: 10px;
	gap: 1rem;
}

.login_icon {
	color: rgb(4, 170, 710);
}

.login_form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login_form input {
	margin: 10px;
	height: 37px;
	width: 25%;
	border-radius: 10px;
	border-width: 5px;
	border-color: rgb(4, 170, 710);
	font-size: 15px;
	padding-inline: 5px;
}

.login_form button {
	width: 10%;
	height: 50px;
	font-weight: bold;
	border-radius: 10px;
	font-size: 18px;
	background-color: #075e54;
	border-width: 0;
	color: #fff;
}

/* ChatContainer */
.chats_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.chats_icon {
	color: red;
}

.chats_logout {
	color: rgb(6, 152, 152);
}

/* chats list */
.chat_sender {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

.chat_sender img,
.chat_receiver img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.chat_sender p {
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	max-width: 60%;
}

.chat_receiver {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

.chat_receiver p {
	padding: 10px;
	background-color: #dcf8c6;
	border-radius: 10px;
	max-width: 60%;
}

/* input text */

.inputtext_container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.inputtext_container button {
	width: 10%;
	height: 50px;
	font-weight: bold;
	border-radius: 10px;
	font-size: 18px;
	background-color: rgb(4, 170, 170);
	border-width: 0;
	color: #fff;
}

.inputtext_container textarea {
	width: 60%;
	height: 50px;
	border-radius: 10px;
	border-width: 0;
	padding: 10px;
	font-size: 18px;
}
